@import "./general";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 18rem;
    height: 25rem;
    background-color: $light-grayish-blue;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    .image_bg {
        display: flex;
        justify-content: center;
        position: relative;
        min-height: 28.5%;
    }

    .mobile_woman {
        max-width: 13.5rem;
        position: absolute;
        bottom: 2.75rem;
    }

    .mobile_woman_shadow {
        position: absolute;
        z-index: 0;
        bottom: 1rem;
    }

    .desktop_woman, .desktop_woman_shadow, .box {
        display: none;
    }

    .faq {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .faq-question {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid $dark-grayish-blue;

        .question-button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .question {
                font-size: 1.1em;
                font-weight: 500;
            }

            .arrow {
                width: 10px;
                height: 7px;
            }

            &:hover {
                color: $soft-red;
            }
        }

        .question-answer {
            display: none;
            color: $dark-grayish-blue;
        }
    }
}

@media screen and (min-width: 1024px) {
    .mobile_woman {
        display: none;
    }

    .mobile_woman_shadow {
        display: none;
    }

    .container {
        width: 45rem;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .faq {
        justify-content: center;
        width: 20rem;
        height: 100%;

        h1 {
            align-self: flex-start;
            padding: 0 1rem;
        }
    }

    .image_bg {
        height: 100%;
        width: 50%;
        

        .desktop_woman {
            display: block;
            position: absolute;
            bottom: 5rem;
            right: 10%;
        }

        .desktop_woman_shadow {
            display: block;
            position: absolute;
            right: 10%;
            bottom: 3.5rem;
        }

        .box {
            display: block;
            position: absolute;
            bottom: 5.45rem;
            right: 72%;
        }
    }
}